.error {
    background-color: crimson;
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.header-links{
    display: flex;
    list-style:none;
}
